# Compiled output
dist/
out-tsc/
/tmp/
/coverage/
/e2e/test-output/

# Dependencies
node_modules/

# SQLite data
apps/backend/data/

# Angular cache
.angular/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
